@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

main{
    margin: 0 16px;
    margin-bottom: 120px;
    @include breakpoint(tablet){
        margin: 0;
        margin: 0 40px 120px 40px;
    }
    .img1{
        margin-bottom: 25px;
    }
    .img2-mobile{
        margin-bottom: 16px;
    }
    .img3-mobile{
        margin-bottom: 16px;
    }
    .content1{
        .title{
            font-family: $primary-font;
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            letter-spacing: 0px;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
        .subtitle{
            font-family: $secondaty-font;
            color: $color-dark-gray;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            width: 320px;
            margin-bottom: 32px;
        }
    }
    .content2{
        background-color: $color-black;
        padding: 48px 24px 47px 24px;
        .title{
            font-family: $primary-font;
            color: $color-white;
            font-weight: 900;
            font-size: 50px;
            line-height: 45px;
            letter-spacing: 0px;
            text-transform: uppercase;
            padding-bottom: 24px;
        }
        .subtitle{
            font-family: $secondaty-font;
            color: $color-white;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
        }
    }
    .figure2-mobile, .figure3-mobile{
        @include breakpoint(tablet){
            display: none;
        }
        @include breakpoint(desktop){
            display: none;
        }
    }
    .figure2-tablet, .figure3-tablet{
        display: none;
        @include breakpoint(tablet){
            display: block;
        }
        @include breakpoint(desktop){
            display: none;
        }
    }
    .figure1{ //esta imagen estan usada para mobile y tablet
        @include breakpoint(desktop){
            display: none;
        }
    }
    .figure1-desktop, .figure2-desktop, .figure3-desktop{
        display: none;
        @include breakpoint(desktop){
            display: block;
        }
    }

    .main_content{
        @include breakpoint(tablet){
            .gallery1{
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 11px;
                .figure1{
                    width: 389px;
                    .img1{
                        margin-bottom: 0;
                    }
                }
                .content1{
                    width: 291px;
                    padding-top: 30px;
                    padding-bottom: 10px;
                    .title{
                        margin-bottom: 24px;
                        width: 200px;
                    }
                    .subtitle{
                        margin: 0;
                        width: 220px;
                    }
                }
            }
            .gallery2{
                display: grid;
                grid-template-columns: minmax(398px, 2fr) minmax(280px, 1fr);
                grid-template-rows: auto auto;
                gap: 10px;
                max-width:688px;
                .figure2-tablet{
                    grid-column: 1/ 2;
                    grid-row: 1/ 3;
                    width: 100%;
                    height: 720px;
                    .img2-tablet{
                        margin-bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .figure3-tablet{
                    grid-column: 2/ 3;
                    grid-row: 1/ 2;
                    width: auto;
                    height: 313px;
                }
                .content2{
                    grid-column: 2/ 3;
                    grid-row: 2/ 3;
                    width: 280px;
                    height: 396px;
                    box-sizing: border-box;
                    padding-top: 70px;
                    padding-bottom: 0;
                    .subtitle{
                        width: 220px;
                    }
                }
            }
        }
        @include breakpoint(desktop){
            .gallery1{
                margin-bottom: 30px;
                justify-content: space-between;
                .figure1-desktop{
                    width: 635px;
                    .img1-desktop{
                        margin-bottom: 0;
                    }
                }
                .content1{
                    padding-top: 55px;
                    width: 350px;
                    .br1{display: none;}
                    .title{
                        width: 290px;
                        font-size: 60px;
                        line-height: 60px;
                        letter-spacing: 0px;
                        margin-bottom: 32px;
                    }
                    .subtitle{
                    width: 290px;
                    font-weight: 200;
                    font-size: 22px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    }
                }
            }
            .gallery2{
                display: grid;
                grid-template-columns: minmax(635px, 2fr) minmax(445px, 1fr);
                grid-template-rows: auto auto;
                gap: 30px;
                max-width: 1110px;
                .figure2-desktop{
                    grid-column: 1/ 2;
                    grid-row: 1/ 3;
                    width: 100%;
                    height: 720px;
                }
                .figure3-tablet{
                    grid-column: 2/ 3;
                    grid-row: 1/ 2;
                    width: auto;
                    height: 313px;
                }
                .content2{
                    grid-column: 2/ 3;
                    grid-column: 2/ 3;
                    height: 377px;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 65px 45px;
                    .title{
                        font-size: 60px;
                        line-height: 55px;
                        letter-spacing: 0px;
                        padding: 0;
                        margin-bottom: 32px;
                    }
                    .subtitle{
                        width: 320px;
                        font-weight: 200;
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
}