//Variables para el responsive first mobile
$bp-tablet : 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//colores
$color-gold: rgba(213, 150, 108, 1);
$color-black: rgba(21, 21, 21, 1);
$color-dark-gray: rgba(68, 68, 68, 1);
$color-white: rgba(255, 255, 255, 1);

//topografia: 

$primary-font: "Big Shoulders", sans-serif;
$secondaty-font: "Outfit", sans-serif;