@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

*{
    margin: 0;
    padding: 0;
}

.page{
  margin-left: auto;
  margin-right: auto;
}

body{
    overflow-x: hidden;
}

img{
    width: 100%;
}
